<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card upd-card mb-3" style="height: 100%">
        <div class="row g-0 h-100">
          <div class="col-md-2 side-nav-bar">
            <nav class="nav flex-column">
              <a
                class="nav-link"
                [ngClass]="{ active: activePage === 'user-info' }"
                (click)="tabChange('user-info')"
                >User Detail</a
              >
              <a
                class="nav-link"
                [ngClass]="{ active: activePage === 'learning-style' }"
                (click)="tabChange('learning-style')"
                >Learning Style</a
              >
            </nav>
          </div>

          <div
            class="col-md-10 d-flex align-items-center"
            *ngIf="activePage === 'user-info'">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <h2>Update User Detail</h2>
                </div>

                <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                  <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-12 mt-2">
                      <label for="email">Email:</label>
                      <input
                        id="email"
                        type="email"
                        formControlName="email"
                        class="custom-input" />
                    </div>

                    <div class="col-md-8 col-sm-12 mt-2">
                      <label for="firstName"
                        >First Name:<span class="text-danger">*</span></label
                      >
                      <input
                        id="firstName"
                        formControlName="firstName"
                        class="custom-input"
                        required />
                      <div
                        *ngIf="
                          updateForm.get('firstName')?.invalid &&
                          (updateForm.get('firstName')?.dirty ||
                            updateForm.get('firstName')?.touched)
                        "
                        class="text-danger">
                        <div
                          *ngIf="
                            updateForm.get('firstName')?.hasError('required')
                          ">
                          First Name is required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8 col-sm-12 mt-2">
                      <label for="lastName"
                        >Last Name:<span class="text-danger">*</span></label
                      >
                      <input
                        id="lastName"
                        formControlName="lastName"
                        class="custom-input"
                        required />
                      <div
                        *ngIf="
                          updateForm.get('lastName')?.invalid &&
                          (updateForm.get('lastName')?.dirty ||
                            updateForm.get('lastName')?.touched)
                        "
                        class="text-danger">
                        <div
                          *ngIf="
                            updateForm.get('lastName')?.hasError('required')
                          ">
                          Last Name is required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8 col-sm-12 mt-2">
                      <label for="dob">Date of Birth:</label>
                      <input
                        id="dob"
                        type="date"
                        formControlName="dob"
                        class="custom-input" />
                    </div>

                    <div class="col-md-8 col-sm-12 mt-3 text-center">
                      <button
                        type="submit"
                        class="submit-btn"
                        [disabled]="updateForm.invalid">
                        update
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div
            class="col-md-10 d-flex align-items-center"
            *ngIf="activePage === 'learning-style' && learnerStyle">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <img
                    src="../../../assets/logo2.png"
                    alt="logo"
                    style="width: 35%" />
                </div>

                <ng-template [ngIf]="learnerStyle.length" [ngIfElse]="notFound">
                  <div *ngFor="let style of learnerStyle[0].learnerType">
                    <strong style="font-size: 20px">{{
                      style.typeName
                    }}</strong>

                    <p class="m-0 mt-3">
                      {{ style.explanation }}
                    </p>
                  </div>

                  <div class="mt-5" style="text-align: end">
                    <p class="m-0">
                      Last Updated: {{ learnerStyle[0].lastCreatedTime }}
                    </p>
                  </div>
                </ng-template>

                <ng-template #notFound>
                  <h4 class="mt-3 text-center">
                    Conduct a learning style assessment to know your learning
                    style!
                  </h4>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
