<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card upd-card mb-3" style="height: 100%">
        <div class="row g-0 h-100">
          <div class="col-md-12 d-flex align-items-center">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <h2>Update User Detail</h2>
                </div>

                <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                  <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-12 mt-2">
                      <label for="email">Email:</label>
                      <input
                        id="email"
                        type="email"
                        formControlName="email"
                        class="custom-input" />
                    </div>

                    <div class="col-md-8 col-sm-12 mt-2">
                      <label for="firstName"
                        >First Name:<span class="text-danger">*</span></label
                      >
                      <input
                        id="firstName"
                        formControlName="firstName"
                        class="custom-input"
                        required />
                      <div
                        *ngIf="
                          updateForm.get('firstName')?.invalid &&
                          (updateForm.get('firstName')?.dirty ||
                            updateForm.get('firstName')?.touched)
                        "
                        class="text-danger">
                        <div *ngIf="updateForm.get('firstName')?.hasError('required')">
                          First Name is required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8 col-sm-12 mt-2">
                      <label for="lastName"
                        >Last Name:<span class="text-danger">*</span></label
                      >
                      <input
                        id="lastName"
                        formControlName="lastName"
                        class="custom-input"
                        required />
                      <div
                        *ngIf="
                          updateForm.get('lastName')?.invalid &&
                          (updateForm.get('lastName')?.dirty ||
                            updateForm.get('lastName')?.touched)
                        "
                        class="text-danger">
                        <div *ngIf="updateForm.get('lastName')?.hasError('required')">
                          Last Name is required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8 col-sm-12 mt-2">
                      <label for="dob">Date of Birth:</label>
                      <input
                        id="dob"
                        type="date"
                        formControlName="dob"
                        class="custom-input" />
                    </div>

                    <div class="col-md-8 col-sm-12 mt-3 text-center">
                      <button
                        type="submit"
                        class="submit-btn"
                        [disabled]="updateForm.invalid">
                        update
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <ngx-loading
              [show]="loading"
              [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
