.custom-input {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  padding: 5px 0;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s;
}

.custom-input:hover,
.custom-input:focus {
  border-bottom: 2px solid #00000092;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  width: 80%;
}

.submit-btn {
  background-color: #90bad0;
  color: #fff;
  min-height: 30px;
  min-width: 100%;
  border: none;
  border-radius: 5px;
}

.submit-btn:not([disabled]):hover,
.submit-btn:not([disabled]):active {
  background-color: #3f647d;
}

.upd-card {
  .card-body {
    margin: 35px auto 35px auto;
  }

  min-height: 60vh;
}

.side-nav-bar {
  background-color: #eef7ff;
  border-radius: 5px;

  .nav {
    align-items: center;
    margin-top: 4rem;

    .nav-link {
      min-height: 60px;
      font-weight: 600 !important;
      color: #153448;
      cursor: pointer;
      width: 100%;
      text-align: center;
      line-height: 40px;

      &.active {
        background-color: #153448;
        color: #fff;
      }

      &:hover {
        background-color: #153448;
        color: #fff;
      }
    }
  }
}
