<style>
  .signup-btn{
    background-color: transparent;
    color: #000000;
    min-height: 30px;
    min-width: 70%;
    border: 2px solid #00000096;
    border-radius: 5px;
  }

  .signup-btn:hover,
  .signup-btn:active {
    background-color: #0000009f;
    color: #fff;
    border-color: #00000034;
  }
</style>

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo2.png" width="130" height="80" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink="/quiz">Learning Style Assessment</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/pomodoro">Pomodoro Timer</a></li>
            <li><a class="dropdown-item" routerLink="/todo">To Do List</a></li>
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn signup-btn my-2 my-sm-0" type="button" routerLink="/signup">Sign Up</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
