<nav class="navbar sticky-top navbar-expand-md nav-light-blue">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center" *ngIf="userLogin">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/quiz"
          >Learning Style Assessment</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['active']"
          routerLink="/pomodoro"
          >Pomodoro Timer</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/todo"
          >To Do List</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['active']"
          routerLink="/dashboard"
          >Dashboard</a
        >
      </li>
    </ul>
  </div>

  <div class="mx-auto order-0">
    <a class="navbar-brand" href="/">
      <img
        src="assets/logo-without-text.png"
        class="d-inline-block align-top rts-logo"
        alt="Logo" />
    </a>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <ng-container *ngIf="!userLogin; then loggedIn; else user_info">
        </ng-container>

        <ng-template #loggedIn>
          <button
            class="btn btn-secondary btn-user my-2 my-sm-0"
            type="button"
            routerLink="/login">
            Log In
          </button>
        </ng-template>

        <ng-template #user_info>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-secondary btn-user dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ userInfo?.email }}
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/account-page">
                  Account Page
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/update-password">
                  Update Password
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/quiz-list"
                  *ngIf="userInfo.type === 'admin'"
                  style="white-space: normal">
                  Learning Style Assessment Management
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="javascript:void(0);"
                  (click)="logout()"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>

<div class="bg-color">
  <router-outlet></router-outlet>
</div>
