<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card mb-3" style="height: 100%">
        <div class="row g-0 h-100">
          <div class="col-md-6">
            <img
              src="assets/studyday.jpeg"
              alt="Login Image"
              class="img-fluid"
              style="height: 100%; object-fit: cover" />
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <h2>Login</h2>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="row justify-content-center">
                    <div class="col-md-12 col-sm-12 mt-2">
                      <label for="email"
                        >Email: <span class="text-danger">*</span></label
                      >
                      <input
                        id="email"
                        type="email"
                        formControlName="email"
                        class="custom-input"
                        required />
                      <div
                        *ngIf="
                          email?.invalid && (email?.dirty || email?.touched)
                        "
                        class="text-danger">
                        <div *ngIf="email?.hasError('required')">
                          Email is required.
                        </div>
                        <div *ngIf="email?.hasError('email')">
                          Invalid email format.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-sm-12 mt-2">
                      <label for="password"
                        >Password:<span class="text-danger">*</span></label
                      >
                      <div class="input-group">
                        <input
                          id="password"
                          [type]="passwordShow ? 'text' : 'password'"
                          formControlName="password"
                          class="custom-input"
                          required />
                        <span class="input-group-append">
                          <button
                            class="btn btn-outline-secondary bg-white border-start-0 border ms-n5"
                            type="button"
                            style="height: 30px"
                            (click)="passwordShow = !passwordShow">
                            <i
                              [class]="
                                passwordShow ? 'fa fa-eye-slash' : 'fa fa-eye'
                              "
                              style="font-size: 20px"></i>
                          </button>
                        </span>
                      </div>
                      <div
                        *ngIf="
                          password?.invalid &&
                          (password?.dirty || password?.touched)
                        "
                        class="text-danger">
                        <div *ngIf="password?.hasError('required')">
                          Password is required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-sm-12 mt-3 text-center">
                      <button
                        type="submit"
                        class="submit-btn"
                        [disabled]="loginForm.invalid">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>

                <div class="col-md-12 col-sm-12 mt-3">
                  <p class="text-center text-primary" style="cursor: pointer">
                    <a data-bs-toggle="modal" data-bs-target="#resetModel">
                      Forget Password?
                    </a>
                  </p>
                </div>

                <div class="col-md-12 col-sm-12 mt-3">
                  <p class="text-center">
                    Not a member? Click here to
                    <a routerLink="/signup">sign up</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>

<div
  class="modal modal-lg fade"
  id="resetModel"
  tabindex="-1"
  aria-labelledby="resetModelLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="resetModelLabel">Reset Password</h1>
        <button
          type="button"
          id="closeReset"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="clearForm()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
          <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 mt-2">
              <label for="email"
                >Email:<span class="text-danger">*</span></label
              >
              <input formControlName="email" class="custom-input" required />
              <div
                *ngIf="
                  resetForm.get('email')?.invalid &&
                  (resetForm.get('email')?.dirty ||
                    resetForm.get('email')?.touched)
                "
                class="text-danger">
                <div *ngIf="resetForm.get('email')?.hasError('required')">
                  Email is required.
                </div>
                <div *ngIf="resetForm.get('email')?.hasError('email')">
                  Invalid email format.
                </div>
              </div>
            </div>

            <div class="col-md-2 col-sm-12 mt-4">
              <button
                type="button"
                class="btn btn-info submit-btn"
                (click)="resetAccount()"
                [disabled]="resetForm.get('email')?.invalid">
                Send Email
              </button>
            </div>

            <ng-container *ngIf="sendEmail">
              <div class="col-md-10 col-sm-12 mt-2">
                <label for="code"
                  >Code:<span class="text-danger">*</span></label
                >
                <input formControlName="code" class="custom-input" required />
                <div
                  *ngIf="
                    resetForm.get('code')?.invalid &&
                    (resetForm.get('code')?.dirty ||
                      resetForm.get('code')?.touched)
                  "
                  class="text-danger">
                  <div *ngIf="resetForm.get('code')?.hasError('required')">
                    Code is required.
                  </div>
                </div>
              </div>

              <div class="col-md-10 col-sm-12 mt-2">
                <label for="new_password"
                  >New Password:<span class="text-danger">*</span></label
                >
                <div class="input-group">
                  <input
                    id="password"
                    [type]="newPasswordShow ? 'text' : 'password'"
                    formControlName="new_password"
                    class="custom-input"
                    required />
                  <span class="input-group-append">
                    <button
                      class="btn btn-outline-secondary bg-white border-start-0 border ms-n5"
                      type="button"
                      style="height: 30px"
                      (click)="newPasswordShow = !newPasswordShow">
                      <i
                        [class]="
                          newPasswordShow ? 'fa fa-eye-slash' : 'fa fa-eye'
                        "
                        style="font-size: 20px"></i>
                    </button>
                  </span>
                </div>
                <div
                  *ngIf="
                    resetForm.get('new_password')?.invalid &&
                    (resetForm.get('new_password')?.dirty ||
                      resetForm.get('new_password')?.touched)
                  "
                  class="text-danger">
                  <div
                    *ngIf="resetForm.get('new_password')?.hasError('required')">
                    Password is required.
                  </div>
                  <div
                    *ngIf="
                      !resetForm
                        .get('new_password')
                        ?.value?.match('^(?=.*[A-Z])')
                    ">
                    At least one uppercase letter.
                  </div>
                  <div
                    *ngIf="
                      !resetForm
                        .get('new_password')
                        ?.value?.match('(?=.*[a-z])')
                    ">
                    At least one lowercase letter.
                  </div>
                  <div
                    *ngIf="
                      !resetForm
                        .get('new_password')
                        ?.value?.match('(.*[0-9].*)')
                    ">
                    At least one digit.
                  </div>
                  <div
                    *ngIf="
                      !resetForm
                        .get('new_password')
                        ?.value?.match('(?=.*[!@#$%^&*])')
                    ">
                    At least one special character.
                  </div>
                  <div
                    *ngIf="
                      !resetForm.get('new_password')?.value?.match('.{8,}')
                    ">
                    At least 8 characters long.
                  </div>
                </div>
              </div>

              <div class="col-md-10 col-sm-12 mt-3 text-center">
                <button
                  type="submit"
                  class="btn btn-info submit-btn"
                  [disabled]="resetForm.invalid">
                  Submit
                </button>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
