.task-content {
  width: 90%;
  height: 40vh;
  overflow: auto;
}

.searchbar{
  width: 90%;
  margin-bottom: 20px;
}


.btn-group button {
  background-color: #4083af;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 5px;
  width: 120px;
}

.button-container button {
  background-color: #4083af;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 5px;
  width: 120px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.timer {
  font-size: 70px;
}

.pomo {
  align-items: center;
}

.playbtn {
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 20px;
  background-color: #ff4c4c;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingbtn i {
  font-size: 18px;
}


.playbtn i {
  color: white;
  font-size: 14px;
}

.custom-min {
  background-color: #4083af;
  color: #ffffff;
  border: none;
  width: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartBox {
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  // border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}

.focus-options {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.option input[type="radio"] {
  margin-right: 10px;
}

.option-title {
  font-weight: bold;
  margin-right: 10px;
}

.option-description {
  color: gray;
}

.custom-setting {
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  font-size: 1em;
  text-align: center;
  margin-left: 15px;
}


.switch-container {
  display: flex;
  align-items: center;
}


.switch-container input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
  margin-right: 10px;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
  top: 4px;
  left: 4px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


.side-nav-bar {
  background-color: #eef7ff;
  border-radius: 5px;

  .nav {
    align-items: center;
    margin-top: 4rem;

    .nav-link {
      min-height: 60px;
      font-weight: 600 !important;
      color: #153448;
      cursor: pointer;
      width: 100%;
      text-align: center;
      line-height: 40px;

      &.active {
        background-color: #153448;
        color: #fff;
      }

      &:hover {
        background-color: #153448;
        color: #fff;
      }
    }
  }
}