<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card upd-card mb-3" style="height: 100%">
        <div class="row g-0 h-100">
          <div class="col-md-2 side-nav-bar">
            <nav class="nav flex-column">
              <a class="nav-link" [ngClass]="{ active: activePage === 'timer' }" (click)="tabChange('timer')">Pomodoro
                Timer</a>
              <a class="nav-link" [ngClass]="{ active: activePage === 'break' }" (click)="tabChange('break')">Break</a>
              <a class="nav-link" [ngClass]="{ active: activePage === 'setting' }"
                (click)="tabChange('setting')">Setting</a>
              <a class="nav-link" [ngClass]="{ active: activePage === 'history' }"
                (click)="tabChange('history')">History</a>
            </nav>
          </div>

          <div class="col-md-10 d-flex align-items-center" *ngIf="activePage === 'timer'">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <div class="position-relative" style="display: flex; justify-content: center; align-items: center;">

                    <div class="chartBox" style="position: relative;">
                      <p
                        style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); z-index: 2; margin: 0;">
                        Focus Session
                      </p>
                      <canvas id="doughnutChartTimer" style="position: relative; z-index: 1;"></canvas>
                      <h2 id="minutes" class="timer my-0"
                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; margin: 0;">
                        {{ mins }} : {{ secs < 10 ? '0' + secs : secs }} </h2>
                          <button class="playbtn" *ngIf="isRunning !== true" (click)="openModal()"
                            style="position: absolute; top: 75%; left: 50%; transform: translate(-50%, -50%); z-index: 2; margin: 0;">
                            <i class="fa fa-play"></i></button>

                          <button class="playbtn" *ngIf="isRunning !== false" (click)="pause()"
                            style="position: absolute; top: 75%; left: 35%; transform: translate(-50%, -50%); z-index: 2; margin: 0;"><i
                              class="fa fa-pause"></i></button>
                          <button class="playbtn" *ngIf="isRunning !== false" (click)="reset()"
                            style="position: absolute; top: 75%; left: 65%; transform: translate(-50%, -50%); z-index: 2; margin: 0;"><i
                              class="fa fa-refresh"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col-md-10 d-flex align-items-center" *ngIf="activePage === 'break'">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <div class="position-relative" style="display: flex; justify-content: center; align-items: center;">

                    <div class="chartBox" style="position: relative;">
                      <p
                        style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); z-index: 2; margin: 0;">
                        Break Session
                      </p>
                      <canvas id="doughnutBreakChartTimer" style="position: relative; z-index: 1;"></canvas>
                      <h2 id="minutes" class="timer my-0"
                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; margin: 0;">
                        {{ breakMins }} : {{ breakSecs < 10 ? '0' + breakSecs : breakSecs }} </h2>
                          <button class="playbtn" *ngIf="isRunning !== true" (click)="startBreak()"
                            style="position: absolute; top: 75%; left: 50%; transform: translate(-50%, -50%); z-index: 2; margin: 0;">
                            <i class="fa fa-play"></i></button>

                          <button class="playbtn" *ngIf="isRunning !== false" (click)="pause()"
                            style="position: absolute; top: 75%; left: 35%; transform: translate(-50%, -50%); z-index: 2; margin: 0;"><i
                              class="fa fa-pause"></i></button>
                          <button class="playbtn" *ngIf="isRunning !== false" (click)="breakReset()"
                            style="position: absolute; top: 75%; left: 65%; transform: translate(-50%, -50%); z-index: 2; margin: 0;"><i
                              class="fa fa-refresh"></i></button>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="col-md-10 d-flex align-items-center" *ngIf="activePage === 'setting'">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <h2>Setting</h2>
                </div>

                <p>Customise Focus Level</p>
                <div class="focus-options">
                  <label class="option">
                    <input type="radio" name="timeOption" value="babyStep" [(ngModel)]="selectedLevel"
                      (change)="updateTime('babyStep')">
                    <span class="option-title">Baby Step</span>
                    <span class="option-description">10 min (focus) • 5 min (break)</span>
                  </label>
                  <label class="option">
                    <input type="radio" name="timeOption" value="popular" [(ngModel)]="selectedLevel"
                      (change)="updateTime('popular')">
                    <span class="option-title">Popular</span>
                    <span class="option-description">25 min (focus) • 5 min (break)</span>
                  </label>
                  <label class="option">
                    <input type="radio" name="timeOption" value="custom" [(ngModel)]="selectedOption"
                      (change)="updateTime('custom')">
                    <span class="option-title">Custom</span>
                    <div class="custom-setting">
                      <!--    need more help with this -->
                      <label for="pomodoro">Focus</label>
                      <input id="pomodoro" type="number" [(ngModel)]="pomodoroTime" min="1"
                        (change)="updateTime('custom')">
                      <span>min</span>
                    </div>
                    <div class="custom-setting">
                      <label for="shortBreak">Break</label>
                      <input id="shortBreak" type="number" [(ngModel)]="shortBreakTime" min="1"
                        (change)="updateTime('custom')">
                      <span>min</span>
                    </div>
                  </label>

                </div>
                <p>Sound Settings</p>

                <div class="switch-container">
                  <input type="checkbox" id="toggle" [(ngModel)]="isChecked">
                  <label class="slider round" for="toggle"></label>
                  <label for="toggle">Play sound when timer finishes</label>
                </div>





              </div>
            </div>
          </div>

          <div class="col-md-10 d-flex align-items-center" *ngIf="activePage === 'history'">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <h2>History</h2>
                </div>
                <div class="searchbar">
                  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm"
                    (input)="searchPomoSess()" />
                </div>

                <label style="display: inline-block; margin-right: 10px;">
                  <input type="checkbox" [(ngModel)]="earliest" (ngModelChange)="changeSort('earliest')">
                  Earliest
                </label>
                <label style="display: inline-block;">
                  <input type="checkbox" [(ngModel)]="latest" (ngModelChange)="changeSort('latest')">
                  Latest
                </label>

                <div class="task-content">

                  <p *ngIf="filteredPomoList.length ==0">You have not started a pomodoro session</p>

                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let pomo of filteredPomoList">
                      <!-- <div class="card mb-3 shadow-sm">
                            <div class="card-body"> -->
                      <div>
                        <h6 class="card-title mb-1">Task: {{ pomo.taskName }}</h6>
                        <p class="card-text">Time Spent: {{ pomo.minutesTaken }} minutes</p>
                        <p class="card-text">Date: {{ pomo.endDateTime }}</p>
                      </div>
                      <!-- </div>
                          </div> -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>