<div class="card quiz-card">
  <div class="card-body justify-content-center">
    <div class="text-center mt-4">
      <img src="../../../assets/logo2.png" alt="logo" />

      <h1 class="title mt-4">Learning Style Assessment</h1>

      <h5 class="subtitle mt-4">
        Begin a Learning Style Assessment today to gain insights into your
        learning preferences and explore more about yourself!
      </h5>

      <button
        type="button"
        (click)="redirectToQuiz()"
        class="btn btn-primary btn-lg mt-4">
        Start Quiz
        <i class="fa fa-arrow-right" style="padding-left: 5px"></i>
      </button>
    </div>
  </div>
</div>
