.ms-n5 {
  margin-left: -48px;
}

.btn-outline-secondary:hover {
  color: #6c757d;
}

.input-group .btn {
  z-index: 9;
  border-radius: 0px 5px 5px 0px;
}

.password-input {
  border-radius: 5px !important;
}
