<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card upd-card mb-3" style="height: 100%">
        <div class="row g-0 h-100">
          <div class="col-md-12 d-flex align-items-center">
            <div class="card-body w-100">
              <div class="form-container">
                <div class="text-center mb-3">
                  <h2>Update Password</h2>
                </div>

                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                  <div class="row justify-content-center">
                    <div class="col-md-12 col-sm-12 mt-2">
                      <label for="old_password"
                        >Old Password:<span class="text-danger">*</span></label
                      >
                      <div class="input-group">
                        <input
                          id="old_password"
                          [type]="oldPasswordShow ? 'text' : 'password'"
                          formControlName="old_password"
                          class="custom-input"
                          required />
                        <span class="input-group-append">
                          <button
                            class="btn btn-outline-secondary bg-white border-start-0 border ms-n5"
                            type="button"
                            style="height: 30px"
                            (click)="oldPasswordShow = !oldPasswordShow">
                            <i
                              [class]="
                                oldPasswordShow
                                  ? 'fa fa-eye-slash'
                                  : 'fa fa-eye'
                              "
                              style="font-size: 20px"></i>
                          </button>
                        </span>
                      </div>
                      <div
                        *ngIf="
                          old_password?.invalid &&
                          (old_password?.dirty || old_password?.touched)
                        "
                        class="text-danger">
                        <div *ngIf="old_password?.hasError('required')">
                          Old password is required.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-sm-12 mt-2">
                      <label for="password"
                        >New Password:<span class="text-danger">*</span></label
                      >
                      <div class="input-group">
                        <input
                          id="new_password"
                          [type]="newPasswordShow ? 'text' : 'password'"
                          formControlName="new_password"
                          class="custom-input"
                          required />
                        <span class="input-group-append">
                          <button
                            class="btn btn-outline-secondary bg-white border-start-0 border ms-n5"
                            type="button"
                            style="height: 30px"
                            (click)="newPasswordShow = !newPasswordShow">
                            <i
                              [class]="
                                newPasswordShow
                                  ? 'fa fa-eye-slash'
                                  : 'fa fa-eye'
                              "
                              style="font-size: 20px"></i>
                          </button>
                        </span>
                      </div>
                      <div
                        *ngIf="
                          new_password?.invalid &&
                          (new_password?.dirty || new_password?.touched)
                        "
                        class="text-danger">
                        <div *ngIf="new_password?.hasError('required')">
                          New password is required.
                        </div>
                        <div
                          *ngIf="!new_password?.value?.match('^(?=.*[A-Z])')">
                          At least one uppercase letter.
                        </div>
                        <div *ngIf="!new_password?.value?.match('(?=.*[a-z])')">
                          At least one lowercase letter.
                        </div>
                        <div *ngIf="!new_password?.value?.match('(.*[0-9].*)')">
                          At least one digit.
                        </div>
                        <div
                          *ngIf="
                            !new_password?.value?.match('(?=.*[!@#$%^&*])')
                          ">
                          At least one special character.
                        </div>
                        <div *ngIf="!new_password?.value?.match('.{8,}')">
                          At least 8 characters long.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-sm-12 mt-3 text-center">
                      <button
                        type="submit"
                        class="submit-btn"
                        [disabled]="passwordForm.invalid">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>

                <ngx-loading
                  [show]="loading"
                  [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
